/* Header */

.header {
    background-color: #8C7A85;
    text-align: center;
    padding: 10px 0px 10px 0px;
    color: #F0EECE;
}

/* Sections */
.intro {
    background-color: #DBD4D9;
    padding: 10px 20px 50px 0px;
}

.encriptala {
    background-color: #F28F33;
    padding: 10px 20px 50px 0px;
}

.decodificala {
background-color: #DBD4D9;
padding: 10px 20px 50px 0px;
}

/* Paragraphs */

.parrafointro {
    margin-left: 2%;
    font-size: 150%;
}

.offset {
    margin-left: 2%;
    font-size: 150%;
    display: inline-block;
}
/* Buttons and Imputs */

.inputingresa {
    margin-left: 1%;
    align-self: stretch;
    width: 45%;
    height: 200px;
    resize: none;
    border-radius: 10px;
}

.decooutput {
    margin-left: 1%;
    align-self: stretch;
    width: 45%;
    height: 200px;
    background-color: #F0EECE;
    resize: none;
    border-radius: 10px;
}

.inputingresa::placeholder {
    text-align: justify;
}

.decooutput::placeholder {
    text-align: justify;
}

.offsetinput {
    margin: 0% 0% 1% 2%;
    display: inline-block;
}

.boton {
    margin-left: 2%;
    width: 10%;
    background-color: #F0EECE;
    border-radius: 5px;
    display: inline-block;
}

/* Fonts */

h1 {
    font-size: 400%;
}

h2 {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10;
    color: #111209;
    font-size: 200%;
}

.decodificalatitulo {
    color: #000411;
    ;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10;
}

.botonesredes {
    color: #000411;
    background-color: #CDD1DE;
    padding: 10px;
}
.paragraph {
    color: #ffffff;
    text-align: center;
}

/* Footer */

.footer {
    background-color: #8C7A85;
    text-align: center;
}

.logosfooter {
    align-content: inherit;
    width: 5%;
    margin: 2%;
    border-radius: 10px;

}